<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Server=localhost; Port = 5434; Database=navigator_kavadarci; User ID=postgres; Password=Alfa321@; Pooling=false; CommandTimeout=60;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="FieldGisConnection"
      connectionString="Server=localhost; Port = 5434; Database=fieldgis; User ID=postgres; Password=Alfa321@; Pooling=false; CommandTimeout=60;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="server" value="alfa" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="port" value="8081" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	<add key="server_cache" value="alfa" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="port_cache" value="8081" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ms4w_app" value="navigator_kavadarci" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ms4w_apps_path" value="D:\ms4w\apps\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="resolutions" value="[70.00014000028002, 35.00007000014001, 17.920035840071687, 8.960017920035844, 4.480008960017922, 2.240004480008961, 1.1200022400044805, 0.5600011200022402, 0.2800005600011201, 0.14000028000056006]" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minX" value="7564989" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minY" value="4551429" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxX" value="7609451" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxY" value="4597693" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="centerX" value="7585645" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="centerY" value="4572646" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxZoom" value="19" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minZoom" value="9" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="opstina" value="КАВАДАРЦИ" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="gradonacalnik" value="МИТКО ЈАНЧЕВ" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailServer" value="smtp.gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailPort" value="587" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailUser" value="instestmk@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailPass" value="ins.2013" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="httpPort" value="85" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="logo" value="kavadarci.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mods" value="aK1pN1,m1pN1,m1zN1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="urbanaOprema" value="da" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="generalLayers" value="layerWmsOrtofoto,layerPodlogi,layerSintezen,layerSoobrakaen,layerKO,layerKZ,layerKP,layerGup,layerUps,layerDup,layerOsvetluvanje,layerOprema,layerJavnaPovrsina,layerDefekt,layerVodovod,layerUlici,searchLayer,searchLayerKP" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="generalInactive" value="layerPodlogi,layerSintezen,layerSoobrakaen,layerKZ,layerKP,layerOsvetluvanje,layerOprema,layerJavnaPovrsina,layerDefekt,layerVodovod,layerUlici" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="preklopLayers" value="layerWmsOrtofoto,layerUlici,layerKP,layerDupIdni,layerDup,searchLayer"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="preklopInactive" value="layerUlici,layerKP"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="zeleniloLayers" value="layerWmsOrtofoto,layerZelenKatastar,layerZeleniPovrsini,layerDrva,layerCvekje"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="zeleniloInactive" value="layerDrva,layerCvekje,layerZeleniPovrsini"   xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>