<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Server=localhost; Port = 5436; Database=navigator_veles; User ID=postgres; Password=Alfa321@; Pooling=false; CommandTimeout=60;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="server" value="alfa" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="port" value="8081" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	<add key="server_cache" value="alfa" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="port_cache" value="8081" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ms4w_app" value="navigator_veles" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ms4w_apps_path" value="D:\ms4w\apps\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="resolutions" value="[17.920035840071687, 8.960017920035844, 4.480008960017922, 2.240004480008961, 1.1200022400044805, 0.5600011200022402, 0.2800005600011201, 0.14000028000056006]" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minX" value="7548560" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minY" value="4608046" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxX" value="7573337" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxY" value="4642304" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="centerX" value="7565224" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="centerY" value="4619558" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxZoom" value="17" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minZoom" value="9" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="opstina" value="ВЕЛЕС" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="gradonacalnik" value="СЛАВЧО ЧАДИЕВ" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailServer" value="smtp.gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailPort" value="587" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailUser" value="instestmk@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailPass" value="ins.2013" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="httpPort" value="88" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="logo" value="veles.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mods" value="aV1pN1,V1pN1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="generalLayers" value="layerWorldImagery,layerWorldTopoMap,layerWorldStreetMap,layerSatelitska,layerSintezen,layerKP,layerKZ,layerLupd,layerUps,layerDup,searchLayer,searchLayerKP" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="generalInactive" value="layerWorldImagery,layerWorldTopoMap,layerWorldStreetMap,layerSintezen,layerKP,layerKZ" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>