<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Server=localhost; Port = 5434; Database=navigator_centar; User ID=postgres; Password=Alfa321@; Pooling=false; CommandTimeout=60;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="server" value="alfa" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="port" value="8081" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	<add key="server_cache" value="alfa" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="port_cache" value="8081" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	<add key="ms4w_app" value="navigator_centar" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ms4w_apps_path" value="D:\ms4w\apps\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="resolutions" value="[4.480008960017922, 2.240004480008961, 1.1200022400044805, 0.5600011200022402, 0.2800005600011201, 0.14000028000056006]" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minX" value="7534046" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minY" value="4647727" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxX" value="7537912" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxY" value="4652341" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="centerX" value="7535754" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="centerY" value="4650113" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxZoom" value="15" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minZoom" value="9" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="opstina" value="ЦЕНТАР" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="gradonacalnik" value="САША БОГДАНОВИЌ" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailServer" value="smtp.gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailPort" value="587" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailUser" value="info.opstinacentar@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailPass" value="centar.2018" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="httpPort" value="86" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="logo" value="centar.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mods" value="aC1pN1,m1pN1,s1pN1,o1pN1,t1pN1,c1pN1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="generalLayers" value="layerOsmLocal,layerSatelitska,layerSintezen,layerUrbanaOprema,layerJavniPovrsini,layerOsnovniUcilista,layerTrotoari,layerUlici,layerGupGc,layerGranica,layerKP,layerDupIdni,layerDup,searchLayer,layerSegmentiUlici" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="generalInactive" value="layerOsmLocal,layerSintezen,layerUrbanaOprema,layerJavniPovrsini,layerOsnovniUcilista,layerTrotoari,layerUlici,layerDupIdni,layerGupGc,layerGranica,layerKP,layerSegmentiUlici" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="preklopLayers" value="layerSatelitska,layerUlici,layerKP,layerDupIdni,layerDup,searchLayer"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="preklopInactive" value="layerUlici,layerKP"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="odobrenieLayers" value="layerSatelitska,layerOdobrenia,layerUlici,layerDup,layerKP,searchLayer"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="odobrenieInactive" value="layerUlici,layerKP,layerOdobrenia" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	<add key="notifikaciiLayers" value="layerSatelitska,layerUlici,layerDup,layerGranica,vectorDraw,searchLayer"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
	<add key="notifikaciiInactive" value="layerUlici,layerGranica"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>