<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
		  connectionString="Server=localhost; Port = 5434; Database=navigator_aerodrom; User ID=postgres; Password=Akademika321@; Pooling=false; CommandTimeout=60;"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
  <add key="server" value="92.204.5.203" />
  <add key="port" value="8081"  />
  <add key="server_cache" value="92.204.5.203" />
  <add key="port_cache" value="8081"  />
  <add key="ms4w_app" value="navigator_aerodrom" />
  <add key="ms4w_apps_path" value="C:\ms4w\apps\" />
  <add key="resolutions" value="[8.960017920035844, 4.480008960017922, 2.240004480008961, 1.1200022400044805, 0.5600011200022402, 0.2800005600011201, 0.14000028000056006]" />
  <add key="minX" value="7536881"  />
  <add key="minY" value="4644165" />
  <add key="maxX" value="7547138" />
  <add key="maxY" value="4650234"  />
  <add key="centerX" value="7542602" />
  <add key="centerY" value="4647338"  />
  <add key="maxZoom" value="17" />
  <add key="minZoom" value="8" />
  <add key="opstina" value="АЕРОДРОМ" />
  <add key="gradonacalnik" value="ЗЛАТКО МАРИН"  />
  <add key="mailServer" value="mail.aerodrom.gov.mk" />
  <add key="mailPort" value="25"  />
  <add key="mailUser" value="gis@aerodrom.gov.mk"  />
  <add key="mailPass" value="Ad3l@1d@"  />
  <add key="httpPort" value="90" />
  <add key="logo" value="aerodrom.png"  />
  <add key="ogrPath" value="C:\bin\ogr2ogr.exe"  />
  <add key="dbServer" value="localhost"  />
  <add key="dbName" value="navigator_aerodrom"  />
  <add key="dbPort" value="5434"  />
  <add key="dbPass" value="Akademika321@"  />
  <add key="mods" value="a1pN1,c1pN1,dxf1pN1"  />
  <add key="generalLayers" value="layerOsmLocal,layerWmsOrtofoto,layerGupGc,layerInfrastrukturniProekti,layerUlici,layerSintezen,layerKP,layerKZ,layerLupd,layerUps,layerDup,layerRPBeli,layerRPTransparent,searchLayer,searchLayerKP,layerSegmentiUlici"  />
  <add key="generalInactive" value="layerOsmLocal,layerInfrastrukturniProekti,layerUlici,layerSintezen,layerGupGc,layerKP,layerKZ,layerRPBeli,layerRPTransparent,layerSegmentiUlici"  />
  <add key="infrastrukturaLayers" value="layerToplifikacijaPl,layerToplifikacijaPo,layerFekalnaPl,layerFekalnaPo,layerElektrikaPl,layerElektrikaPo,layerTelekomunikaciskaPl,layerTelekomunikaciskaPo,layerGasovodnaPl,layerGasovodnaPo,layerVodovodnaPo,layerVodovodnaPl,layerAtmKanPo,layerAtmKanPl,layerZelenilo,layerParking,layerPesackaPateka,layerVelosipedskaPateka,layerTrotoari"/>
  <add key="infrastrukturaInactive" value="layerToplifikacijaPl,layerToplifikacijaPo,layerFekalnaPl,layerFekalnaPo,layerElektrikaPl,layerElektrikaPo,layerTelekomunikaciskaPl,layerTelekomunikaciskaPo,layerGasovodnaPl,layerGasovodnaPo,layerVodovodnaPo,layerVodovodnaPl,layerAtmKanPo,layerAtmKanPl,layerZelenilo,layerParking,layerPesackaPateka,layerVelosipedskaPateka,layerTrotoari"/>
  <add key="preklopLayers" value=""   />
  <add key="preklopInactive" value=""   />
  <add key="odobrenieLayers" value=""  />
  <add key="odobrenieInactive" value="" />
  <add key="notifikaciiLayers" value="" />
  <add key="notifikaciiInactive" value="" />
  </appSettings>
</configuration>