<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost; Port = 5434; Database=navigator_brvenica; User ID=postgres; Password=Poloski321@; Pooling=false; CommandTimeout=60;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="server" value="135.181.61.207" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="port" value="8081" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="server_cache" value="135.181.61.207" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="port_cache" value="8081" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ms4w_app" value="navigator_brvenica" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ms4w_apps_path" value="C:\ms4w\apps\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="resolutions" value="[4.480008960017922, 2.240004480008961, 1.1200022400044805, 0.5600011200022402, 0.2800005600011201, 0.14000028000056006]" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minX" value="7555780" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minY" value="4663288" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxX" value="7563048" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxY" value="4670073" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="centerX" value="7559865" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="centerY" value="4666640" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxZoom" value="15" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minZoom" value="9" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="opstina" value="Брвеница" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="gradonacalnik" value="Енвер Пајазити" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--<add key="rakovoditel" value="БЛАГИЦА БЛАЖЕВСКА" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="kontroliral" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
    <add key="mailServer" value="smtp.gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailPort" value="587" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--<add key="mailUser" value="info.opstinacentar@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailPass" value="centar.2018" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
    <add key="httpPort" value="91" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="logo" value="brvenica.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ogrPath" value="C:\bin\ogr2ogr.exe"  />
    <add key="dbServer" value="localhost"  />
    <add key="dbName" value="navigator_brvenica"  />
    <add key="dbPort" value="5434"  />
    <add key="dbPass" value="Poloski321@"  />
    <add key="mods" value="c1pN1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="generalLayers" value="layerWmsOrtofoto,layerSintezen,layerKZ,layerKP,layerDup,layerUps,layerAup,layerLupd,searchLayer,searchLayerKP" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="generalInactive" value="layerSintezen,layerAup,layerLupd,layerKP,layerKZ" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="legalizacijaLayers" value="" />
    <add key="legalizacijaInactive" value="" />
  </appSettings>
</configuration>