<?xml version="1.0" encoding="utf-8"?>

  <!--For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433-->
  
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=92.204.5.203; Port = 5434; Database=navigator_centar; User ID=postgres; Password=Akademika321@; Pooling=false; CommandTimeout=60; " />
  </connectionStrings>
  <appSettings>
    <add key="server" value="92.204.5.203" />
    <add key="port" value="8081" />
	<add key="server_cache" value="92.204.5.203" />
	<add key="port_cache" value="8081" />
    <add key="ms4w_app" value="navigator_centar" />
    <add key="ms4w_apps_path" value="C:\ms4w\apps\" />
    <add key="resolutions" value="[2.240004480008961, 1.1200022400044805, 0.5600011200022402, 0.2800005600011201, 0.14000028000056006]" />
    <add key="minX" value="7534046.1" />
    <add key="minY" value="4647727.76" />
    <add key="maxX" value="7537912.39" />
    <add key="maxY" value="4652341.84" />
    <add key="centerX" value="7535754.98" />
    <add key="centerY" value="4650113.45" />
    <add key="maxZoom" value="15" />
    <add key="minZoom" value="10" />
    <add key="opstina" value="ЦЕНТАР" />
    <add key="gradonacalnik" value="АНДРЕЈ ЖЕРНОВСКИ" />
    <add key="mailServer" value="smtp.gmail.com" />
    <add key="mailPort" value="587" />
    <add key="mailUser" value="instestmk@gmail.com" />
    <add key="mailPass" value="ins.2013" />
    <add key="httpPort" value="8099" />
    <add key="logo" value="ins.png" />
    <add key="ogrPath" value="C:\bin\ogr2ogr.exe" />
    <add key="dbServer" value="92.204.5.203" />
    <add key="dbName" value="navigator_centar" />
    <add key="dbPort" value="5434" />
    <add key="dbPass" value="Akademika321@" />
	  <add key="mods" value="r1pN1,n1pN1,3d1pN1"/>
    <add key="generalLayers" value="vectorMeasure,layerSatelitska,layerSatelitskaCache,layerDup,searchLayer" />
    <add key="generalInactive" value="layerSatelitska" />
    <add key="notifikaciiLayers" value="layerOsmCache,layerSatelitskaCache,layerDup,searchLayer,layerRPTransparent" />
    <add key="notifikaciiInactive" value="layerSatelitska,layerRPTransparent" />
  </appSettings>
  <system.web>
	<globalization uiCulture="en" culture="en-US" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" protection="All" timeout="60" name="NavigatorAuthCookie" path="/" slidingExpiration="true"></forms>
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".dxf" />
      <mimeMap fileExtension=".dxf" mimeType="image/vnd.dxf" />
      <remove fileExtension=".geojson" />
      <mimeMap fileExtension=".geojson" mimeType="application/json" />

		<!--<mimeMap fileExtension=".json" mimeType="application/json" />-->
	  <remove fileExtension=".woff" />
	  <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
	  <remove fileExtension=".woff2" />
	  <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		
	</staticContent>
  </system.webServer>
  <system.web>
	  <customErrors mode="Off" />
  </system.web>
</configuration>
