<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DefaultConnection"
		  connectionString="Server=localhost; Port = 5434; Database=navigator_centar; User ID=postgres; Password=Alfa321@; Pooling=false; CommandTimeout=60;"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<appSettings>
		<add key="server" value="alfa" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="port" value="8081" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="server_cache" value="alfa" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="port_cache" value="8081" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ms4w_app" value="navigator_centar" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ms4w_apps_path" value="D:\ms4w\apps\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="resolutions" value="[4.480008960017922, 2.240004480008961, 1.1200022400044805, 0.5600011200022402, 0.2800005600011201, 0.14000028000056006]" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="minX" value="7534046.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="minY" value="4647727.76" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="maxX" value="7537912.39" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="maxY" value="4652341.84" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="centerX" value="7535754.98" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="centerY" value="4650113.45" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="maxZoom" value="15" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="minZoom" value="9" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="opstina" value="ЦЕНТАР" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="gradonacalnik" value="САША БОГДАНОВИЌ" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mailServer" value="smtp.gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mailPort" value="587" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mailUser" value="info.opstinacentar@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mailPass" value="centar.2018" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="httpPort" value="91" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="logo" value="centar.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ogrPath" value="D:\bin\ogr2ogr.exe" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="dbServer" value="localhost" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="dbName" value="navigator_centar" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="dbPort" value="5434" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="dbPass" value="Alfa321@" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mods" value="r1pN1,n1pN1,3d1pN1,u1pN1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="generalLayers" value="layerOsmLocal,layerSatelitska,layerSintezen,layerKZ,layerKP,layerGranica,layerDupIdni,layerDup,searchLayer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="generalInactive" value="layerSatelitska,layerSintezen,layerGranica,layerDupIdni,layerKZ,layerKP" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>