<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DefaultConnection"
		  connectionString="Server=localhost; Port = 5434; Database=navigator_prilep; User ID=postgres; Password=Prilep321@; Pooling=false; CommandTimeout=60;"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<appSettings>
		<add key="server" value="213.135.167.241" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="port" value="8081" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="server_cache" value="213.135.167.241" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="port_cache" value="8888" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ms4w_app" value="navigator_prilep" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ms4w_apps_path" value="C:\ms4w\apps\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="resolutions" value="[8.960017920035844, 4.480008960017922, 2.240004480008961, 1.1200022400044805, 0.5600011200022402, 0.2800005600011201, 0.14000028000056006]" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="minX" value="7530686" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="minY" value="4548648" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="maxX" value="7578664" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="maxY" value="4594106" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="centerX" value="7545224" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="centerY" value="4578558" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="maxZoom" value="17" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="minZoom" value="8" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="opstina" value="ПРИЛЕП" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="gradonacalnik" value="ИЛИЈА ЈОВАНОСКИ" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mailServer" value="smtp.gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mailPort" value="587" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mailUser" value="instestmk@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mailPass" value="ins.2013" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="httpPort" value="85" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="logo" value="prilep.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mods" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="generalLayers" value="layerOrtofotoCache,layerSintezenCache,layerKP,layerGup,layerDupd,layerLupd,layerUps,layerDup,searchLayer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="generalInactive" value="layerSintezenCache,layerKP" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="preklopLayers" value=""  xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="preklopInactive" value=""  xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="odobrenieLayers" value=""  xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="odobrenieInactive" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="notifikaciiLayers" value=""  xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="notifikaciiInactive" value=""  xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>