<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
		  connectionString="Server=localhost; Port = 5434; Database=navigator_gaziBaba; User ID=postgres; Password=Akademika321@; Pooling=false; CommandTimeout=60;"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="server" value="92.204.5.203" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="port" value="8081" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="server_cache" value="92.204.5.203" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="port_cache" value="8081" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ms4w_app" value="navigator_gazibaba" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ms4w_apps_path" value="C:\ms4w\apps\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="resolutions" value="[4.480008960017922, 2.240004480008961, 1.1200022400044805, 0.5600011200022402, 0.2800005600011201, 0.14000028000056006]" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minX" value="7537510" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minY" value="4643112" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxX" value="7549364" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxY" value="4664803" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="centerX" value="7540725" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="centerY" value="4650916" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="maxZoom" value="15" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="minZoom" value="9" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="opstina" value="ГАЗИ БАБА" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="gradonacalnik" value="БОРИС ГЕОРГИЕВСКИ" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailServer" value="smtp.gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailPort" value="587" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--<add key="mailUser" value="info.opstinacentar@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailPass" value="centar.2018" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
    <add key="httpPort" value="93" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="logo" value="gaziBaba.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ogrPath" value="C:\bin\ogr2ogr.exe" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="dbServer" value="localhost" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="dbName" value="navigator_gaziBaba" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="dbPort" value="5434" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="dbPass" value="Gazibaba321@" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mods" value="r1pN1,n1pN1,u1pN1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="generalLayers" value="layerOsmLocal,layerSintezen,layerKP,layerGranica,layerDupIdni,layerDup,layerUps,layerLupd,layerAup,searchLayer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="generalInactive" value="layerSintezen,layerGranica,layerDupIdni,layerKP,layerUps,layerLupd,layerAup" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>