<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DefaultConnection"
		  connectionString="Server=localhost; Port = 5434; Database=navigator_aerodrom; User ID=postgres; Password=Aerodrom321@; Pooling=false; CommandTimeout=60;"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<appSettings>
		<add key="server" value="88.85.97.30" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="port" value="8080" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="server_cache" value="88.85.97.30" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="port_cache" value="8888" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ms4w_app" value="navigator_aerodrom" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ms4w_apps_path" value="D:\ms4w\apps\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="resolutions" value="[8.960017920035844, 4.480008960017922, 2.240004480008961, 1.1200022400044805, 0.5600011200022402, 0.2800005600011201, 0.14000028000056006]" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="minX" value="7536981" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="minY" value="4644265" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="maxX" value="7547038" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="maxY" value="4650134" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="centerX" value="7542602.92" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="centerY" value="4647338.35" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="maxZoom" value="17" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="minZoom" value="8" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="opstina" value="АЕРОДРОМ" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="gradonacalnik" value="ЗЛАТКО МАРИН" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mailServer" value="mail.aerodrom.gov.mk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mailPort" value="25" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mailUser" value="gis@aerodrom.gov.mk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mailPass" value="Ad3l@1d@" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="httpPort" value="80" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="logo" value="aerodrom.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ogrPath" value="C:\bin\ogr2ogr.exe" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="dbServer" value="localhost" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="dbName" value="navigator_aerodrom" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="dbPort" value="5434" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="dbPass" value="Aerodrom321@" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="mods" value="a1pN1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="generalLayers" value="layerOsmLocalCache,layerWmsOrtofoto,layerRPTransparent,layerSintezenCache,layerKP,layerKZ,layerLupd,layerUps,layerDup,layerBiznisPOI,searchLayer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="generalInactive" value="layerSintezenCache,layerWmsOrtofoto,layerRPTransparent,layerKP,layerKZ,layerLupd,layerUps,layerDup,layerBiznisPOI" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>